<div class="example-container mat-elevation-z8">
  <div class="stocks-header" fxLayout="row" fxLayoutAlign="center">
    <mat-form-field floatPlaceholder="never" fxFlex>
      <input matInput #filter placeholder="Filer name">
    </mat-form-field>

    <mat-form-field floatPlaceholder="never" fxFlex>
      <input matInput #filterTicker placeholder="Filer ticker">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ticker">
      <mat-header-cell *matHeaderCellDef> ticker </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ticker}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cik">
      <mat-header-cell *matHeaderCellDef> cik </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cik}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="annual">
      <mat-header-cell *matHeaderCellDef> annual </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.forms.annual}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quarterly">
      <mat-header-cell *matHeaderCellDef> quarterly </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.forms.quarterly}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="stock-row" *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></mat-row>
  </mat-table>
</div>

<!-- <pre>{{ stocks | json }}</pre> -->
