<form #form="ngForm" class="clause-form">
  <mat-form-field class="clause-field" style="width: 100%;">
    <input matInput [(ngModel)]="measure.description.label" name="scale" placeholder="scale" required autocomplete="off">
  </mat-form-field>

  <div>
    <sec-scale-data-source
      [metrics]="metrics"
      [breadcrumbs]="measure.breadcrumbs"
      (metric)="selectMetric($event)"
      style="margin-left:8px;">
    </sec-scale-data-source>
  </div>

  <div>
    <mat-form-field class="clause-field">
      <mat-select placeholder="prepare" [(value)]="measure.prepare" name="prepare" (selectionChange)="updateLabel('prepare')">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let option of functions" [value]="option.key">{{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="clause-field">
      <mat-select placeholder="trend" [(value)]="measure.trend" name="trend" (selectionChange)="updateLabel('trend')">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let option of trends" [value]="option.key">{{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngFor="let clause of measure.clauses; let i = index">
    <!-- <mat-form-field class="clause-field">
      <input matInput [(ngModel)]="clause.description.label" name="label-{{i}}" placeholder="Label" required autocomplete="off">
    </mat-form-field> -->

    <mat-form-field class="clause-field">
      <mat-select [(ngModel)]="clause.description.label" name="label-{{i}}" required placeholder="Label" required autocomplete="off">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="clause-field">
      <mat-select placeholder="operand" [(ngModel)]="clause.operand" name="operand-{{i}}" required (selectionChange)="selectOperand($event)">
        <mat-option *ngFor="let operator of operators" [value]="operator">{{operator}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="clause-field">
      <input matInput [(ngModel)]="clause.value" name="value-{{i}}" placeholder="value" type="number" required>
    </mat-form-field>

    <button class="clause-field" mat-icon-button (click)="remove(clause)">
      <mat-icon>delete</mat-icon>
    </button>

    <div *ngIf="properties && clause.properties">
      <span *ngFor="let property of clause.properties">
        {{property}}
        <button class="clause-field" mat-icon-button (click)="removeProperty(clause, property)">
          <mat-icon style="font-size:18px;">delete</mat-icon>
        </button>
      </span>

      <mat-form-field class="clause-field" *ngIf="clause.selectableProperties.length > 0">
        <mat-select placeholder="add property" [(ngModel)]="clause.property" name="properties-{{i}}" (selectionChange)="selectProperty(clause, $event.value);">
          <mat-option *ngFor="let property of clause.selectableProperties" [value]="property">{{property}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- <pre>{{ measure | json }}</pre> -->

  <div style="margin-top: 8px;">
    <button class="clause-field" mat-mini-fab color="primary" (click)="addClause();$event.preventDefault();">
      <mat-icon>add</mat-icon>
    </button>

    <button class="clause-field" mat-raised-button color="primary" (click)="send()" [disabled]="form.invalid || validBreadcrumbs() === false" style="float: right;">{{ measure.index >= 0 ? 'UPDATE' : 'CREATE' }}</button>
    <button class="clause-field" mat-raised-button color="primary" (click)="cancel()" style="float: right;">CANCEL</button>
  </div>
</form>
