<div style="padding:8px;">
  <mat-button-toggle-group [(value)]="method" (change)="toggleMethod()" name="method" aria-label="method">
    <mat-button-toggle value="REBALANCE">REBALANCE</mat-button-toggle>
    <mat-button-toggle value="OPPOSITION">OPPOSITION</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field style="margin-left: 8px;">
    <mat-select placeholder="years" [(ngModel)]="years.value" name="years" (selectionChange)="setDCFs()">
      <mat-option *ngFor="let years of years.options" [value]="years">{{ years }} Years</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" (click)="rebalance()">REBALANCE</button> -->
</div>

<div class="row">
  <div *ngIf="portfolio" class="column">
    <sec-portfolio-composition [portfolio]="portfolio"></sec-portfolio-composition>
  </div>

  <div *ngIf="opposition" class="column">
    <sec-portfolio-composition
      [name]="'Opposition'"
      [portfolio]="opposition"
      [options]="{ menu: true }"
      (remove)="remove($event)">
    </sec-portfolio-composition>
  </div>
</div>
