<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let column of columns" matColumnDef="{{ column.property }}">
    <th mat-header-cell *matHeaderCellDef [ngClass]="{'mat-cell-number': column.type}" style="padding-left:10px;">
      {{ column.label }}
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'mat-cell-number': column.type}">
      {{ format(column, element[column.property]) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
