<sec-scale-engine [metrics]="source"></sec-scale-engine>

<!-- <sec-trend-examination-previews [entities]="entities"></sec-trend-examination-previews> -->
<!-- <sec-trend-examination *ngIf="statement" [statement]="statement"></sec-trend-examination> -->

<sec-financial-statement [summary]="summary" [view]="view" [statement]="'incomeStatement'"></sec-financial-statement>
<sec-financial-statement [summary]="summary" [view]="view" [statement]="'balanceSheet'"></sec-financial-statement>
<sec-financial-statement [summary]="summary" [view]="view" [statement]="'cashflowStatement'"></sec-financial-statement>

<pre>{{ summary | json }}</pre>
