<button mat-raised-button color="primary" disabled (click)="crawlAndDownload()">crawl filings</button>
<button mat-raised-button color="primary" disabled (click)="parseFilings()">parse filings</button>
<button mat-raised-button color="primary" disabled (click)="summarize()">summarize</button>

<!-- <pre>{{ stock | json }}</pre> -->
<!-- <pre>{{ metrics | json }}</pre> -->

<stock-metric-chart [data]="{
                      labels: lineChartLabels,
                      datasets: lineChartData
                    }">
</stock-metric-chart>

<pre>{{ metrics?.annual?.EarningsPerShareBasic | json }}</pre>
