<button mat-raised-button color="primary" disabled (click)="crawlAndDownload()">crawl filings</button>
<button mat-raised-button color="primary" disabled (click)="parseFilings()">parse filings</button>
<button mat-raised-button color="primary" disabled (click)="summarize()">summarize</button>

<!-- <pre>{{ stock | json }}</pre> -->
<!-- <pre>{{ metrics | json }}</pre> -->

<div *ngFor="let path of paths">
  <stock-metric-chart [metrics]="metrics"
                      [path]="path">
  </stock-metric-chart>
</div>

<sec-stock-metrics-tree [metrics]="metrics?.annual"
                        [path]="'annual'">
</sec-stock-metrics-tree>

<!-- <pre>{{ metrics?.annual?.EarningsPerShareBasic | json }}</pre> -->
