th.mat-header-cell, td.mat-cell {
  padding: 0 10px;
  min-width: 65px;
}

.mat-cell-number {
  text-align:right;
}

.value-label {
  font-size: 11px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 8px;
}
