<mat-form-field style="margin-left: 8px;">
  <mat-select placeholder="day" [(ngModel)]="day" name="day" (selectionChange)="getSummary(day)">
    <mat-option *ngFor="let option of days" [value]="option">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin-left: 8px;">
  <mat-select placeholder="universe" [(ngModel)]="universe.selected" name="universe" (selectionChange)="setUniverse(universe.selected)">
    <mat-option *ngFor="let option of universe.options" [value]="option">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="audit?.portfolio">
  <sec-portfolio-calibration
    [name]="Portfolio"
    [portfolio]="audit.portfolio"
    [universe]="audit.universe">
  </sec-portfolio-calibration>
</div>

<div style="width: 500px;" *ngIf="summary?.portfolio">
  <div>value: {{ portfolio.value }}</div>
  <div>cash: {{ portfolio.cash }}</div>
  <sec-data-table [columns]="columns.portfolio" [dataSource]="summary.portfolio"></sec-data-table>
</div>

<div *ngIf="summary?.portfolio">
  <div style="width:500px;float:left;">
    <sec-data-table [columns]="columns.portfolio" [dataSource]="portfolio.sells"></sec-data-table>
  </div>

  <div style="width:500px;float:left;margin-left: 10px;">
    <sec-data-table [columns]="columns.portfolio" [dataSource]="portfolio.buys"></sec-data-table>
  </div>
</div>

<div style="width: 100%;">
  <sec-data-table *ngIf="candidates" [columns]="columns.stocks" [dataSource]="candidates"></sec-data-table>
</div>

<!-- <pre>{{ summary | json }}</pre> -->
<!-- <pre>{{ candidates | json }}</pre> -->
